body {
    background-color: black;
    
}

h1 {
    color: white;
    text-align: center;
    font-family: monospace;
}

div {
    text-align: center;
    
}

ul {
    
    justify-content: center;
}

li {
    color: teal;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-primary {
    background-color: orange;
    color: white;
    border-color: white;
}

h2 {
    font-family: monospace;
    font-weight: bolder;
}
